*.pt
aya_self_play/
.DS_Store
*.html
data/ogs_user_links/user_links.txt
data/ogs_user_links/user_links.txt
data/ogs_user_links/ids.txt
*.zip
data/ogs_user_links/user_links.txt
data/ogs_user_links/user_links.txt
models/
*.pkg
*.toc
*.exe
*.spec
*.manifest
*.pyc
*.pyc

